<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Saida no {{system}}</title>
</head>
<body>
    <div class="container">
        <h1>Nova Saida no registrada {{system}}</h1>
        <p>Produto: <b>{{product}}</b></p>
        <p>Quantidade: <b>{{quantity}}</b></p>
        <p>Valor da Unidade: R$ <b>{{total_value}}</b></p>
        <p>Lucro da Unidade: R$ <b>{{profit_value}}</b></p>
    </div>
</body>
</html>